header{
    border: thick solid black;
    text-align: center;
    padding-bottom:15px;
}
body{
    /* background: linear-gradient(90deg, hsla(58, 100%, 68%, 1) 23%, hsla(33, 100%, 53%, 1) 100%); */

        background: linear-gradient(90deg, hsla(242, 58%, 73%, 1) 4%, hsla(157, 72%, 82%, 1) 86%);
        /* background: linear-gradient(90deg, hsla(61, 81%, 88%, 1) 0%, hsla(310, 65%, 85%, 1) 50%, hsla(7, 89%, 69%, 1) 100%); */
}

/* .start-endbtn{
    display:flex;
    justify-content:center;
    margin-top: 10px;
    
}
.start{
    margin-right: 10px;
} */
.nameText{
    text-align: center;
}

.scales{
    text-align:center;
}
.hunger{
    color:green;
} .sleepiness{
    color:green;
} .boredom{
    color:green;
}
/* Dropdrown option for rules */
/* Style the button that is used to open and close the collapsible content */
.gamesRules {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: thick solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .gamesRules:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .rules {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    max-width: 60%;
  }
.flexMoving{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
   .circle {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
  } 
.brownEgg{
    height: 200px;
    width: 200px;
    /* background-color: #bbb; */
    border-radius: 50%;
    
    padding-left: 22px;
    padding-bottom: 22px;
    padding-top: 22px;
}
.buttonsFeature{
    display:flex;
    justify-content:center;
    align-items: center;
}
.value{
    width: 100%;
    font-size: 25px;
}